.container input {
    display: block;
    margin-top: 7px;
}
.container textarea {
    display: block;
}
.feltet input[type=text]{
    display: block;
}
.feltet input[type=email]{
    display: block;
}
.feltet input[type=checkbox]{
    display: block;
}